* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: cover;
  background-repeat: none;
  font-family: "Courier New", Courier, monospace;
}

.menu-bar {
  background: rgba(211, 216, 221, 0.831);
  text-align: center;
  width: 100%;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.menu-bar li {
  width: 150px;
  margin: 15px;
  padding: 15px;
}

.menu-bar a {
  text-decoration: none;
  color: black;
}

.active,
.menu-bar li:hover {
  background-color: white;
  border-radius: 3px;
}

.menu-bar .fa {
  margin-right: 8px;
}

.sub-menu-1 {
  display: none;
}

.menu-bar li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgba(211, 216, 221, 0.831);
  margin-top: 15px;
  margin-left: -15px;
}

.menu-bar li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}

.menu-bar li:hover .sub-menu-1 li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted black;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar li:hover .sub-menu-1 li:last-child {
  border-bottom: none;
}

.menu-bar li:hover .sub-menu-1 a:hover {
  color: rgb(172, 172, 172);
}

.fa-angle-right {
  float: right;
}

.sub-menu-2 {
  display: none;
}

.hover-me:hover .sub-menu-2 {
  position: absolute;
  display: block;
  margin-top: -40px;
  margin-left: 150px;
  background: rgba(211, 216, 221, 0.831);
}
